<h2>Buscar país</h2>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text" 
                   name="termino" 
                   [(ngModel)]="termino"
                   placeholder="Buscar país..." 
                   class="form-control">
        </form>
    </div>
</div>
<hr>
<div class="alert alert-danger" *ngIf="error">
    No se encontro nada relacionado con {{termino}} :(
</div>
<div class="row" *ngIf="!error">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Nombre</th>
                <th>bander</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bandera</td>
                    <td>nombre</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>